{% extends 'core/base.html' %} 
{% load static %} 
{% block contenido %}

    <!-- slider section -->

    <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Welcome To Our <br>
                        Gift Shop
                      </h1>
                      <p>
                        Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
                      </p>
                      <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="https://res.cloudinary.com/ddglicuiq/image/upload/c_scale,w_500/f_auto/v1715902274/Daco_5228371_wpif8c.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end slider section -->
  </div>
  <!-- end hero area -->

<!-- shop section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Ultimos productos
      </h2>
    </div>
    <div class="row">
      {% for aux in listado %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="#">
              <div class="img-box">
                <img src="{{ aux.imagen_url }}" alt="{{ aux.nombre }}">
              </div>
              <div class="detail-box">
                <h6>{{ aux.nombre }}</h6>
                <h6>Price <span>${{ aux.precio }}</span></h6>
              </div>
              <div class="new">
                <span>New</span>
              </div>
            </a>
            {% if user.is_authenticated %}
              {% if user.username == "admin" %}
                <div class="admin-buttons">
                  <a class="btn btn-success py-2 px-3" href="{% url 'update' aux.id %}"><i class="fa fa-eye"></i></a>
                  <a class="btn btn-success py-2 px-3" href="{% url 'delete' aux.id %}"><i class="fa fa-trash"></i></a>
                </div>
              {% else %}
                <a class="btn btn-success py-2 px-3" href=""><i class="fa fa-cart-plus"></i></a>
              {% endif %}
            {% else %}
              <a class="btn btn-success py-2 px-3" href="{% url 'login' %}"><i class="fa fa-cart-plus"></i></a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="py-4">
      {% include 'core/paginator.html' %}
    </div>

    <div class="btn-box">
      <a href="{% url 'shop' %}">
        Ver todos los prouctos
      </a>
    </div>

  </div>
</section>
<!-- end shop section -->

  <!-- saving section -->

  <section class="saving_section ">
    <div class="box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="img-box">
              <img src="https://res.cloudinary.com/ddglicuiq/image/upload/c_scale,w_500/f_auto/v1715901959/img1_igvync.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Best Savings on <br>
                  new arrivals
                </h2>
              </div>
              <p>
                Qui ex dolore at repellat, quia neque doloribus omnis adipisci, ipsum eos odio fugit ut eveniet blanditiis praesentium totam non nostrum dignissimos nihil eius facere et eaque. Qui, animi obcaecati.
              </p>
              <div class="btn-box">
                <a href="#" class="btn1">
                  Buy Now
                </a>
                <a href="#" class="btn2">
                  See More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end saving section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          ¿Por qué comprar con nosotros?
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box ">
            <div class="img-box">
              <i class="fa fa-tachometer"></i>
            </div>
            <div class="detail-box">
              <h5>
                Entrega Rápida
              </h5>
              <p>
                Variedades de pasajes de Lorem Ipsum disponibles
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box ">
            <div class="img-box">
              <i class="fa fa-truck"></i>
            </div>
            <div class="detail-box">
              <h5>
                Envío Gratis
              </h5>
              <p>
                Variedades de pasajes de Lorem Ipsum disponibles
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box ">
            <div class="img-box">
              <i class="fa fa-star"></i>
            </div>
            <div class="detail-box">
              <h5>
                Mejor Calidad
              </h5>
              <p>
                Variedades de pasajes de Lorem Ipsum disponibles
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end why section -->



  {% endblock %}

  