{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<!-- Lista de detalles de pedidos del cliente -->
<section class="detalle_pedido_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Detalles de Pedidos del Cliente</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Mostrar cada detalle de pedido del cliente -->
        {% for detalle in detalles_pedido %}
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Detalles del Pedido</h5>
              <ul>
                <li>
                  <strong>Cliente:</strong> {{ detalle.pedido.usuario.username }} <br>
                  <strong>Cantidad:</strong> {{ detalle.cantidad }} <br>
                  <strong>Enlace:</strong> <a href="{% url 'detalle_pedido' detalle.id %}">Ver Detalles</a> <br>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
        <div class="back-to-shop"><a href="{% url 'account'%}">&leftarrow; <span class="tex t-muted">Volver al perfil</span></a></div>
      </div>
    </div>
    
  </div>
  
</section>
<!-- Fin de Lista de detalles de pedidos del cliente -->
{% endblock %}